*{
    margin:0;padding:0;  outline: 0;  vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    color:#000;
    background:#fff;
    font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",思源宋体;
    width:100%;
}
input,select,button{
    font-size:100%;
    outline:0;
    vertical-align:middle;
    -webkit-appearance: none;
}
button{
    border: 0;
    background-clip: padding-box;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
ol,ul,li { list-style:none;}
/* 定义图片边框，当图片作为链接内容被填充时，会有默认边框出现，重定义掉 */
img{
    border:none;
    vertical-align:baseline;
}
a, a:link, a:visited{
    color:#000!important;
    text-decoration:none;
}
a:hover{
    color:#000!important;
    text-decoration:none;
}
/* 标签属性，textarea,input 强制输入时内容超出时换行，打断 */
textarea,input{
    word-wrap:break-word;
    word-break:break-all;
}
span,p,div{
    word-wrap:break-word;
}
.lf{ float:left; }
.rt{ float:right; }
.clearfix{ content: ''; display: block; clear: both; }


.post{
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: #a6a6a6 1px solid;
    -webkit-tap-highlight-color: transparent;
}
#content-bar div[class='post']:last-child{
    margin-bottom: 20px;
    border-bottom: none;
}















