
.detail-return{
    line-height: 15vw;
    width: 20vw;
    float: left;
    text-align: center;
}

.detail-title{
    line-height: 15vw;
    width: 60vw;
    text-align: center;
    float: left;
}

#details{
    position: fixed;
    width: 100%;
    height: 15vw;
    z-index: 999;
    background-color:white;
    font-size: 5vw;
    /* 顶格 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#detail-return{
    font-size: 1vw;
    width: 6vw;
}
#detail-text{
    text-align: center;
}

#content-bar{
    width: 100%;
    padding: 2vw;
    padding-top: 25vw;
    padding-bottom: 15vw;
}
.line{
    height:1px;
    border:none;
    border-top:1px solid #dbe1e5;
}
#post-at{
    font-weight:bold;
}



