.dingbu{
    position: relative;
    top:1vh;
}
#notice{
    position: fixed;
    height: 15vw;
    z-index: 999;
    background-color:white;
    line-height:0vw;
    font-size: 4vw;
    width: 100%;
    /* 顶格 */
    top: -0.01vw;
    left: -0.01vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.notice-button{
    line-height: 7vw;
    margin-right: 5vw;
}

.notice-title{
    line-height: 15vw;
    width: 55vw;
    text-align: right;
    float: left;
}


#notice-text{
    text-align: center;
    font-size: 5vw;
}
#notice-button{
    margin-top: 1vw;
    padding: 2vw;
    height: 11vw;
    width: 25vw;
    font-weight: bold;
    font-size: 5vw;
    color: white;
    float: right;
    border: none;
    border-radius: 1.5vw;
    background: rgb(122,146,203);
}

#content-bar{
    margin-top: 20vw;
}

.message-left{
    width: 11vw;
}

.message-right{
    width: 2.5vw;
}
.message-text{
    width: 80vw;
    font-weight: 100;
    font-size: 3vw;
    text-align: left;
    cursor: pointer;
}
.message-text2{
    width: 80vw;
    font-weight: 100;
    font-size: 3vw;
    text-align: left;
    color: rgb(177, 176, 176);
    cursor: pointer;
}
.message-underline{
    text-decoration: underline;
    text-underline-offset:1vw;
}

