#my-posts {
    padding-top: 58vw;
    padding-bottom: 10px;
}
#fix {
    width: 100%;
    position: fixed;
    z-index: 2;
}
#information {
    width: 100%;
    height: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    z-index: 9999;
}
#photo {
    margin: 3vw;
    width: 20vw;
    float: left;
}
#name {
    margin-top: 2vw;
    margin-left: 1vw;
    width: 35vw;
    float: left;
    font-size: 5vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#IDnum {
    float: left;
    font-size: 4vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40vw;
    margin-left: 1vw;
}
#IPaddress {
    float: left;
    font-size: 4vw;
    margin-left: 1vw;
    width: 40vw;
}
#out {
    float: right;
    margin-top: 4vw;
    margin-right: 4vw;
    width: 17vw;
}

.my-post {
    background-color: white;
    display: block;
}

#navi {
    position: fixed;
}
