#chongdang{
    height: 18.5vw;
}
#dingbu-choose{
    clear: both;
    background-color: white;
    height: 30vw;
    position: relative;
    top:-1vw;
    text-align: center;
}
.ding-choose{
    width: 30vw;
    display: inline-block;
    font-size: 5vw;
    vertical-align: top;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
    top:1vw;
    z-index: 999;
}

.ding-tubiao{
    width: 15vw;
}
.ding-fenge{
    width: 20vw;
}
.weixuan{
    display: none;
}
