#chongdang{
    height: 18.5vh;
}
#dingbu-choose{
    clear: both;
    background-color: white;
    height: 20vh;
    position: relative;
    top:-1vh;
    text-align: center;
}
.ding-choose{
    width: 18vh;
    display: inline-block;
    font-size: 3vh;
    vertical-align: top;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative;
    top:1vh;
    z-index: 999;
}

.ding-tubiao{
    width: 9vh;
}
.ding-fenge{
    width: 13vh;
}
.weixuan{
    display: none;
}
