.nav-bar-v2-fixed[data-v-23e4f95a] {
    position: fixed;
    width: 100%;
    max-width: 640px;
    z-index: 1000
}

.nav-bar-v2-bg-image[data-v-23e4f95a] {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f7f7fa));
    background-image: -webkit-linear-gradient(top,#fff,#f7f7fa);
    background-image: -o-linear-gradient(top,#fff 0,#f7f7fa 100%);
    background-image: linear-gradient(180deg,#fff,#f7f7fa)
}

.nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a],.nav-bar-v2[data-v-23e4f95a] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a] {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: .4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1.6rem;
    height: .4rem;
    border-radius: .23rem;
    font-size: .15rem;
    background-color: #7559ff;
    color: #fff
}

.darkmode .nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a] {
    background-color: #846bff
}

.nightmode .nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a] {
    background-color: #614ad4
}

.darkmode .nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.92)
}

.nightmode .nav-bar-v2 .nav-bar-bottom[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.83)
}

.nav-bar-v2 .nav-bar-bottom .nav-bar-bottom-icon[data-v-23e4f95a] {
    width: .16rem;
    height: .16rem;
    margin-right: .06rem
}

.nav-bar-v2 .nav-bar-top[data-v-23e4f95a] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: .48rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav-bar-v2 .nav-bar-top .nav-bar-icon-top[data-v-23e4f95a] {
    width: .32rem;
    height: .32rem;
    margin: 0 .08rem 0 .13rem
}

.nav-bar-v2 .nav-bar-top .logo-wrapper[data-v-23e4f95a],.nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: .32rem;
    width: 2.5rem;
    font-size: .15rem;
    background-color: #f3f2f5;
    color: #a3a2a8;
    border-radius: .2rem;
    padding-right: .12rem
}

.darkmode .nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    background-color: #292929
}

.nightmode .nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    background-color: #3b3b3d
}

.darkmode .nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.5)
}

.nightmode .nav-bar-v2 .nav-bar-top .nav-bar-search[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.33)
}

.nav-bar-v2 .nav-bar-top .nav-bar-search .search-icon[data-v-23e4f95a] {
    width: .14rem;
    height: .14rem;
    margin: 0 .06rem 0 .13rem
}

.nav-bar-v2 .nav-bar-top .nav-bar-search .search-content[data-v-23e4f95a] {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 2rem
}

.nav-bar-v2 .nav-bar-top .open-app[data-v-23e4f95a] {
    margin-right: 13px;
    font-size: .15rem;
    font-weight: 700;
    color: #614ec2;
    position: absolute;
    right: 0
}

.darkmode .nav-bar-v2 .nav-bar-top .open-app[data-v-23e4f95a] {
    color: #7161c2
}

.nightmode .nav-bar-v2 .nav-bar-top .open-app[data-v-23e4f95a] {
    color: #5443a8
}

.nav-bar-v2 .nav-bar-top .more-btn-desc[data-v-23e4f95a] {
    margin-right: 13px;
    font-size: .15rem;
    font-weight: 700;
    color: #614ec2
}

.darkmode .nav-bar-v2 .nav-bar-top .more-btn-desc[data-v-23e4f95a] {
    color: #7161c2
}

.nightmode .nav-bar-v2 .nav-bar-top .more-btn-desc[data-v-23e4f95a] {
    color: #5443a8
}

.nav-bar-v2 .nav-bar-top .text[data-v-23e4f95a] {
    font-size: .17rem
}

.nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a],.nav-bar-v2 .nav-bar-top .text[data-v-23e4f95a] {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: .28rem;
    padding: 0 .08rem;
    font-size: .15rem;
    border-radius: .16rem;
    background-color: #f3f2f5;
    color: #141414
}

.darkmode .nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a] {
    background-color: #292929
}

.nightmode .nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a] {
    background-color: #3b3b3d
}

.darkmode .nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.92)
}

.nightmode .nav-bar-v2 .nav-bar-top .forum-block[data-v-23e4f95a] {
    color: hsla(0,0%,100%,.75)
}

.nav-bar-v2 .nav-bar-top .forum-block .forum-avar[data-v-23e4f95a] {
    width: .2rem;
    height: .2rem;
    border-radius: .04rem;
    margin-right: .04rem
}
