#navi {
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 999;
    width: 100%;
}

#fenge {
    border: 0.4vw solid #d9d9d9;
}

.navi-tubiao {
    width: 11vw;
    top: 2vw;
}

#message {
    position: relative;
    left: 5vw;
}

#community {
    position: relative;
    left: 30vw;
}

#myself {
    position: relative;
    left: 55vw;
}
