#navi {
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 999;
    width: 100%;
    height: 18vw;
}

#fenge {
    border: 0.4vw solid #d9d9d9;
}

.navi-tubiao {
    width: 11vw;
    top: 3vw;
}

#message {
    position: relative;
    left: 10vw;
}

#community {
    position: relative;
    left: 33vw;
}

#myself {
    position: relative;
    left: 55vw;
}
