.photo{
    width: 10vw;
}
.text-title{
    display: inline-block;
    vertical-align: middle;
    padding-left: 3vw;
}
.name-title{
    font-size: 4vw;
}
.time-title{
    font-size: 3vw;
    color: #A6A6A6;
    position: relative;
    top:0.8vh;
}
.post-content{
    font-size: 4.5vw;
    padding-top: 5vw;
    padding-left: 14vw;
    width: 100%;

}
.content-in{
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 5vw;
}
.post-picture{
    width: 30vw;
    display: block;
}
.post-num{
    font-size: 3vw;
    color: #7F7F7F;
    position: relative;
    left: 14vw;
}
.post-tubiao{
    width: 6vw;
    position: relative;
    left: 25vw;
}

.like-btn, .collect-btn{
    margin-right: 3vw;
}
